## Ngày 4: Tiền xử lý dữ liệu cho Recommendation System
Làm sạch, chuân hóa dữ liệu, chia tập huấn luyện và kiếm tra

### Mục tiêu
- Xác minh và xử lý dữ liệu bị thiếu
- Xóa dữ liệu trùng lặp
- Chuẩn hóa dữ liệu
- Chia tách dữ liệu
- Chuẩn bị dữ liệu dạng ma trận

In [1]:
# Load data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ratings = pd.read_csv('../Datasets/MovieLens/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228
2       1       29     2.0  943230976
3       1       30     5.0  944249077
4       1       32     5.0  943228858

In [5]:
# Kiểm tra dữ liệu bị thiếu và xử lý
print("Tổng số missing values cho mỗi cột:")
print(ratings.isnull().sum())

# Nếu có missing:
# - Loại bỏ các dòng chứa missing values
# - Thay thế bằng giá trị trung bình, trung vị... tùy theo tùng trường hợp

Tổng số missing values cho mỗi cột:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [4]:
# Xóa dữ liệu trùng lặp
ratings.drop_duplicates(inplace=True)
print("Số lượng dữ liệu sau khi loại bỏ trùng lặp:", ratings.shape[0])

Số lượng dữ liệu sau khi loại bỏ trùng lặp: 32000204

In [7]:
# Kiểm tra dữ liệu và chuẩn hóa
print("Kiểu dữ liệu ban đầu: ", ratings.dtypes)

# Nếu cần, chuyển đổi kiểu dữ liệu (ví dụ: timestamp từ int sang datetime)
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')
print("Sau chuyển đổi kiểu dữ liệu: ", ratings.dtypes)

Kiểu dữ liệu ban đầu:  userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object
Sau chuyển đổi kiểu dữ liệu:  userId                int64
movieId               int64
rating              float64
timestamp    datetime64[ns]
dtype: object

In [8]:
# Chia tách dữ liệu: Huấn luyện và Kiểm tra
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(ratings, test_size=0.2, random_state=42)
print("Số dòng của tập huấn luyện: ", train_data.shape[0])
print("Số dòng của tập kiểm tra: ", test_data.shape[0])

Số dòng của tập huấn luyện:  25600163
Số dòng của tập kiểm tra:  6400041

In [ ]:
# Tạo Ma trận người dùng - Phim (tùy chọn)
# Nếu muốn xây dựng một hệ thống dựa trên collaborative filtering, có thể tạo ra ma trận người dùng - phim
user_item_matrix = train_data.pivot(index='userId', columns='movieId', values='rating')
print("Ma trận người dùng - phim:")
print(user_item_matrix)